html,
body {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
}
td:first-child {
	width: 150px;
}
td:last-child {
	width: 300px;
}
#movie-list-left .movie-item {
	cursor: pointer;
	display: inline-block;
	float: right;
}
#movie-list-right .movie-item {
	cursor: pointer;
	display: inline-block;
	float: left;
}
.ranks {
	height: 120px;
	margin-bottom: 20px;
}
.ranks-wrapper {
	width: 450px;
	height: 120px;
	margin: 0 auto;
}
.rank-circle {
	float: left;
	border-radius: 50%;
	text-align: center;
	width: 50px;
	height: 50px;
	color: #ffffff;
	line-height: 50px;
	margin: 35px 50px;
}
.rank-good {
	background-color: blue;
}
.rank-normal {
	background-color: gray;
	position: relative;
	top: -20px;
}
.rank-bad {
	background-color: red;
}
#rank {
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -225px;
	z-index: 10;
}
.movie-list-wrapper {
	position: relative;
	top: -250px;
	width: 100%;
	height: 160px;
	z-index: 1;
}
.movie-list-left-wrapper {
	float: left;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
#movie-list-left {
	width: 200%;
	height: 100%;
	padding-right: 20px;
	box-sizing: border-box;
	float: right;
	margin-right: 0;
}
.movie-list-right-wrapper {
	float: left;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
#movie-list-right {
	width: 200%;
	height: 100%;
	padding-left: 20px;
	box-sizing: border-box;
	float: left;
	margin-left: 0;
}
#experiment {
	-webkit-perspective: 500px;
	-webkit-perspective-origin: 50% 50px;
	width: 400px;
	margin: 0 auto;
	z-index: 2;
	position: relative;
}
#cube {
	position: relative;
	margin: 0 auto;
	height: 450px;
	width: 250px;
	-webkit-transition: -webkit-transform 0.3s linear;
	-webkit-transform-style: preserve-3d;
}
.face,
.bottom {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 450px;
	width: 250px;
}
.face {
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	backface-visibility: hidden;
}
.bottom {
	height: 250px;
	background: none;
}
#cube .popcorn-box {
	background-image: url(../images/box.png);
	width: 250px;
	height: 93px;
}
#cube .popcorn-box-back {
	background-image: url(../images/box.png);
	width: 250px;
	height: 93px;
}
#cube .popcorn-box-shadow {
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)); /* Standard syntax */
	width: 250px;
	height: 450px;
	position: relative;
	top: -450px;
}
#cube .popcorn-box-back-shadow {
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); /* Standard syntax */
	width: 250px;
	height: 450px;
	position: relative;
	top: -450px;
}
#cube .poster {
	background-size: 250px 357px;
	background-repeat: no-repeat;
	background-color: #ffffff;
	width: 250px;
	height: 357px;
}
#cube .poster-back {
	background: #fff;
	width: 250px;
	height: 357px;
}
#cube .two {
	-webkit-transform: translateZ(125px);
}
#cube .two.back {
	-webkit-transform: translateZ(125px) rotateY(180deg);
}
#cube .two .poster {
}
#cube .three {
	-webkit-transform: rotateY(90deg) translateZ(125px);
}
#cube .three.back {
	-webkit-transform: rotateY(90deg) translateZ(125px) rotateY(180deg);
}
#cube .three .poster {
}
#cube .four {
	-webkit-transform: rotateY(180deg) translateZ(125px);
}
#cube .four.back {
	-webkit-transform: rotateY(180deg) translateZ(125px) rotateY(180deg);
}
#cube .four .poster {
}
#cube .five {
	-webkit-transform: rotateY(-90deg) translateZ(125px);
}
#cube .five.back {
	-webkit-transform: rotateY(-90deg) translateZ(125px) rotateY(180deg);
}
#cube .five .poster {
}
#cube .six {
	-webkit-transform: rotateX(-90deg) translateZ(320px);
	box-shadow: 0px 0px 40px 0;
}
#wrapper {
	width: 100%;
	margin: 130px 0;
	position: relative;
}
.movie-list-left-wrapper img,
.movie-list-right-wrapper img {
	width: 100px;
	height: 140px;
}
@media screen and (min-width:768px) {
	.sense-area {
		position: absolute;
		z-index: 9999;
		top: 250px;
		left: 50%;
		width: 400px;
		height: 400px;
		background: green;
		opacity: 0;
		overflow: auto;
		margin-left: -200px;
	}
}
@media screen and (max-width:767px) {
	.sense-area {
		position: absolute;
		z-index: 9999;
		top: 350px;
		left: 0px;
		width: 100%;
		height: 300px;
		background: green;
		opacity: 0;
		overflow: auto;
	}
}
.dummy {
	height: 10000px;
	width: 100px;
}
.ui-loading .ui-loader {
	display: block;
}
.ui-loader {
	display: none;
	position: absolute;
	opacity: .85;
	z-index: 100;
	left: 50%;
	width: 200px;
	margin-left: -130px;
	margin-top: -35px;
	padding: 10px 30px;
}
.ui-page,
.ui-body-c.ui-page-active {
	border: none;
	outline: none;
}