td:first-child {
	width: 200px;
}

td:last-child {
	width: 500px;
}

#movielist {
	width: 100%;
}

.movie_item {
	cursor: pointer;
	display: inline-block;
}

.rank_good {
	color: blue;
}

.rank_normal {
	color: gray;
}

.rank_bad {
	color: red;
}