<?xml version="1.0" encoding="UTF-8"?> 
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 

	<welcome-file-list> 
		<welcome-file>test.jsp</welcome-file> 
	</welcome-file-list>
	
	<servlet> 
		<servlet-name>API_Servlet</servlet-name> 
		<servlet-class>net.dpkm.psm.servlet.ApiServlet</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>API_Servlet</servlet-name> 
		<url-pattern>/api/v1/*</url-pattern> 
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>Init_Servlet</servlet-name> 
		<servlet-class>net.dpkm.psm.servlet.InitServlet</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>Init_Servlet</servlet-name> 
		<url-pattern>/init</url-pattern> 
	</servlet-mapping>
	
	
	<filter>
		<filter-name>Home_Filter</filter-name>
		<filter-class>net.dpkm.psm.filter.HomeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Home_Filter</filter-name>
		<url-pattern>/</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

</web-app> 